 body {font-family: 'Ubuntu', sans-serif; background-color: #073642; color: #839496;}
 div.cloud {width: 50%; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;}
 div.cloud ul {padding: 2px; line-height: 3em; text-align: center; margin: 0;}
 div.cloud li {display: inline; margin-left: 5px; margin-right: 5px;}
 button {background-color: #2aa198; color: #eee8d5; font-family: 'Ubuntu', sans-serif;}
 span.btn-cap {font-size: 32px; margin 5px;};
